ion-select {
    color: #6d6d6d !important;
    --placeholder-color: var(--placeholder-color);
}

.tempCanvas {
    height: 230px;
}

.humCanvas {
    height: 230px;
}

.lightCanvas {
    height: 230px;
}