<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Historical charts
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item>
      <ion-label>Time period</ion-label>
      <ion-select placeholder="Today" (ionChange)="onChange($event)">
        <ion-select-option value="1">Today</ion-select-option>
        <ion-select-option value="2">Last 2 days</ion-select-option>
        <ion-select-option value="5">Last 5 days</ion-select-option>
        <ion-select-option value="7">Last 7 days</ion-select-option>
        <ion-select-option value="14">Last 2 weeks</ion-select-option>
        <ion-select-option value="35">Last 5 weeks</ion-select-option>
        <ion-select-option value="0">All data</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-card class="rangeCard">
    <ion-card-header>
      <ion-card-subtitle>Temperature</ion-card-subtitle>
      <ion-card-title>current: {{temps[temps.length - 1] | number:'1.0-2'}} °C</ion-card-title>
    </ion-card-header>
  
    <ion-card-content class="tempCanvas">
      <canvas #lineCanvasTemp></canvas>
    </ion-card-content>
  </ion-card>

  <ion-card class="rangeCard">
    <ion-card-header>
      <ion-card-subtitle>Humidity</ion-card-subtitle>
      <ion-card-title>current: {{hums[hums.length - 1] | number:'1.0-2'}} %</ion-card-title>
    </ion-card-header>
  
    <ion-card-content class="humCanvas">
      <canvas #lineCanvasHum></canvas>
    </ion-card-content>
  </ion-card>

  <ion-card class="rangeCard">
    <ion-card-header>
      <ion-card-subtitle>Light</ion-card-subtitle>
      <ion-card-title>current: {{light_b[light_b.length - 1] | number:'1.0-2'}} / {{light_b[light_r.length - 1] | number:'1.0-2'}} lux</ion-card-title>
    </ion-card-header>
  
    <ion-card-content class="lightCanvas">
      <canvas #lineCanvasLight></canvas>
    </ion-card-content>
  </ion-card>
</ion-content>
